.products {
  display: flex;
  margin: 4rem;
}

.filters {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border: 1px solid #49505720;
  padding: 2rem 1rem;
  margin-right: 2rem;
  border-radius: 4px;
  height: max-content;
}

.product-listing {
  display: flex;
  column-gap: 24px;
  row-gap: 24px;
  flex-wrap: wrap;
}
.filter-title {
  display: flex;
  justify-content: space-around;
}
.filter-title p {
  margin: 0;
  font-weight: 500;
}
.filter-title button {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}
